/*首页*/
.index-page{
  .index-top{
    width: 750px;
    margin-top: 30px;
    padding: 0 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &>.iconfont{
      font-size: 48px;
      font-size: #333;
    }
    .searchBox{
      width: 570px;
      height: 60px;
      background: rgba(204,204,204,.3);
      border-radius: 30px;
      padding: 0 60px;
      display: flex;
      align-items: center;
      &>.iconfont{
        font-size: 32px;
        color: #aaa;
      }
      input{
        min-width: 370px;
        color: #3E4A59;
        margin-left: 15px;
        background-color: transparent;
        font-size: 28px;
        border: none;
      }
      ::-webkit-input-placeholder { /* WebKit browsers */ 
        color: #aaa; 
      } 
    }
  }
  .index-banner{
    width: 750px;
    padding: 18px 30px 16px;
  }
  .index-notice{
    width: 750px;
    position: relative;
    background: #fff;
    height: 72px;
    // padding: 5px 42px;
    padding: 0 42px;
    display: flex;
    align-items: center;
    i{
      width: 36px;
      height: 36px;
      font-size: 34px;
      color: #ffde4b;
    }
    marquee{
      font-size: 26px;
    }
    .notice-slide{
      position: relative;
      width: 100%;
      height: 100%;
      margin-left: 20px;
      overflow: hidden;
      ul{
        // position: absolute;
        // left: 0;
        // top: 0;
        position: relative;
        font-size: 26px;
      }
      li{
        height: 60px;
        line-height: 60px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
      }
    }
  }
  .index-count{
    width: 750px;
    height: 180px;
    padding: 50px 8px 38px;
    display: flex;
    dl{
      width: 25%;
      text-align: center;
      dt{
        font-size: 45px;
        // font-family:"square721BT","Microsoft YaHei";
        font-weight: bold;
        line-height: 1;
        color: #03a6be;
        background-image: -webkit-linear-gradient( #0B0574 , #0e8cf6 );
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
      dd{
        font-size: 30px;
        line-height: 1;
        margin-top: 15px;
        color: #717172;
      }
    }
    dl~dl{
      border-left: 3px solid #C4C4C4;
    }
  }
  .index-slogan{
    width: 750px;
    background: #fff;
    padding: 13px 30px 11px;
    li{
      width: 690px;
      // height: 140px;
      border-radius: 10px;
      overflow: hidden;
      margin: 20px 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .short{
        width: 529px;
        // height: 139px;
      }
      .guide{
        width:140px;
        height:140px;
        padding: 33px;
        background:linear-gradient(132deg,rgba(93,2,140,1) 0%,rgba(230,53,255,1) 100%);
        border-radius:10px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
    // li~li{
    //   margin-top: 20px;
    // }
  }
  .index-slogan2{
    width: 750px;
    padding: 16px 30px;
    li{
      width: 690px;
      // height: 140px;
      border-radius: 10px;
      overflow: hidden;
    }
    li~li{
      margin-top: 20px;
    }
  }
  .index-slogan3{
    width: 750px;
    background: #fff;
    padding: 17px 30px 20px;
    margin-top: 14px;
    li{
      width: 690px;
      // height: 140px;
      border-radius: 10px;
      overflow: hidden;
    }
    li~li{
      margin-top: 20px;
    }
  }
  .manage-panel{
    margin-top: 17px;
    background: #fff;
    padding-bottom: 40px;
    .manage-cont{
      padding: 28px 30px 0;
      display: flex;
      justify-content: space-between;
      dl{
        text-align: center;
        font-size: 26px;
        color: #666;
        dt{
          width: 137px;
          height: 137px;
        }
        dd{
          margin-top: 10px;
        }
      }
    }
  }
  .reach-standard{
    margin-top: 17px;
    background: #fff;
    padding-bottom: 30px;
    .situation{
      width:690px;
      height:278px;
      background:#F4F5FA;
      border-radius:10px;
      margin: 14px auto 0;
      overflow: hidden;
      .top{
        height:86px;
        background:linear-gradient(90deg,rgba(106,99,242,1) 0%,rgba(186,54,229,1) 100%);
        display: flex;
        align-items: center;
        font-size: 30x;
        color: #fff;
        .icon{
          display: block;
          width: 46px;
          height: 46px;
          margin: 0 26px;
        }
      }
      .cont{
        height: 192px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 29px;
        .month-count{
          p{
            font-size: 28px;
            color: #777;
            line-height: 1.8;
          }
        }
        .month-rate{
          width: 227px;
          text-align: center;
          line-height: 1;
          border-left: 3px solid #DFDFDF;
          dt{
            big{
              position: relative;
              font-size:100px;
              font-weight:bold;
              color:rgba(51,51,51,1);
              background:linear-gradient(0deg,rgba(11,1,16,1) 0.732421875%, rgba(106,99,242,1) 48.388671875%, rgba(186,54,229,1) 100%);
              -webkit-background-clip:text;
              -webkit-text-fill-color:transparent;
              &::after{
                content: "%";
                font-size: 35px;
                color: #333;
                position: absolute;
                right: -30px;
                bottom: 20px;
                color: #333;
                -webkit-text-fill-color: #333;
              }
            }
            
          }
          dd{
            font-size: 25px;
            color: #777;
            margin-top: 10px;
          }
        }
      }
    }
  }
  .customer-uphold{
    margin-top: 17px;
    background: #fff;
    .uphold-type{
      display: flex;
      justify-content: space-between;
      padding: 18px 30px 30px;
      dl{
        width: 220px;
        height: 294px;
        background: #F4F5FA;
        padding: 25px 23px 0;
        dt{
          width: 173px;
          height: 160px;
          padding-top: 25px;
          font-weight: 100;
          font-size: 60px;
          color: #fff;
          text-align: center;
          background-repeat: no-repeat;
          background-size: cover;
        }
        dd{
          font-size: 28px;
          line-height: 1.6;
        }
      }
      dl:nth-of-type(1){
        dt{
          background-image: url(~IMG/index-uphold1.png)
        }
        dd{
          color: #F85355;
        }
      }
      dl:nth-of-type(2){
        dt{
          background-image: url(~IMG/index-uphold2.png)
        }
        dd{
          color: #6B63F2;
        }
      }
      dl:nth-of-type(3){
        dt{
          background-image: url(~IMG/index-uphold3.png)
        }
        dd{
          color: #B33AE6;
        }
      }
    }
  }
  .index-service{
    width: 750px;
    margin-top: 17px;
    background: #fff;
    ul{
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      padding: 12px 30px;
      li{
        position: relative;
        width: 330px;
        margin: 10px 0;
      }
    }
  }
  .index-test{
    width: 750px;
    margin-top: 17px;
    background: #fff;
    ul{
      li{
        width: 50%;
        height: 200px;
        float: left;
        display: flex;
        justify-content: space-between;
        // align-items: center;
        padding: 42px 45px 42px 35px;
        dl{
          width: 170px;
          line-height: 1.2;
          margin-top: 15px;
          float: left;
          dt{
            font-size: 25px;
            color: #060001;
          }
          dd{
            font-size: 18px;
            color: #bbb;
            margin-top: 15px;
          }
        }
        .test-icon{
          width: 96px;
        }
      }
    }
  }
  .index-mytool{
    width: 750px;
    margin-top: 17px;
    background: #fff;
    .tool-list{
      width: 100%;
      dl{
        width: 250px;
        height: 220px;
        text-align: center;
        padding-top: 35px;
        float: left;
        dt{
          width: 100px;
          height: 100px;
          margin: 0 auto;
        }
        dd{
          font-size: 24px;
          color: #333;
          margin-top: 5px;
        }
      }
    }
  }
}